[Desktop Entry]
Name=Desknfc
Name[en_GB]=Desknfc
Name[fr]=Desknfc
GenericName=NFC device manager
GenericName[fr]=Gestionnaire de périphérique NFC
Icon=desknfc
Exec=desknfc
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;
OnlyShowIn=KDE;
