Source: nfcutils
Section: devel
Priority: optional
Maintainer: Romuald Conty <rconty@il4p.fr>
Build-Depends: debhelper (>= 5.0.37.2), libnfc-dev
Standards-Version: 3.7.3
Homepage: http://code.google.com/p/nfc-tools/wiki/nfcutils

Package: nfcutils
Architecture: any
Depends: ${shlibs:Depends}, libnfc-dev (>= 1.3.0)
Description: Near Field Communication (NFC) utilities
 This package contains one utility for listing NFC devices and in-field tags or targets.

